.poke-search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
.poke-search input[type='text'] {
  margin: 15px auto;
  text-align: center;

  font-size: 16px;
  outline: none;
  border: none;
  line-height: 34px;
  background-color: transparent;
  color: #1d1a05;
  font-family: 'Press Start 2P', cursive;
  border-bottom: 1px solid #083d77;
}
.poke-search input[type='text']:focus {
  box-shadow: 0 0 25px rgb(169, 255, 1);

  border: 1px solid rgba(81, 203, 238, 1);
}
.poke-search input[type='submit']:focus {
  box-shadow: 0 0 20px rgb(169, 255, 203);

  border: 1px solid rgba(81, 203, 238, 1);
}
